<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ammar.tawseel">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tawseel"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">
        <activity android:name=".ui.ConfirmActivity" />
        <activity android:name=".ui.DisplayVideoActivity" />
        <activity android:name=".ui.OrdersActivity" />
        <activity android:name=".example.audio_record_view.ChatTest.ChatAppActivity" />
        <activity android:name=".example.AudioOnTouchActivity" />
        <activity android:name=".ui.ContactUsActivity" />
        <activity android:name=".ui.WhoUsActivity" />
        <activity android:name=".ui.PrivacyPolicyActivity" />
        <activity android:name=".ui.ShareAppActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".ui.SettingsActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.TrakingMapsActivity"
            android:label="@string/title_activity_traking_maps" />
        <activity android:name=".uitllis.DrawActivity" />
        <activity android:name=".ui.RatingUsersActivity" />
        <activity android:name=".ui.EditeProfilActivity" />
        <activity android:name=".ui.fragments.DetailesActivity" />
        <activity android:name=".ui.checkout.ChckOutActivity" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.auth.SelectLocationActivity"
            android:label="@string/title_activity_select_location" />
        <activity android:name=".ui.auth.UserProfilActivity" />
        <activity android:name=".ui.auth.ForgetPasswordActivity" />
        <activity android:name=".ui.auth.RegisterActivity" />
        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.SkipingActivity" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- FacrBook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity> <!-- <receiver android:name=""  android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED"/> -->
        <!-- <action android:name="android.intent.action.INPUT_METHOD_CHANGED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <service
            android:name=".notifecation.me.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_icon" -->
        <!-- android:resource="@drawable/" /> -->
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/purple_500" />
    </application>

</manifest>